/* 
DEBUG
*/

.debug header .col{
    background-color: aliceblue;
    border: 1px dashed orange;
}

.debug header .row{
    background-color: lightgreen;
    border: 1px dashed red;
}

.debug main section:first-of-type .row{
    background-color: lightblue;
    border: 1px dashed red;
}

.debug main section:first-of-type .col-12{
    background-color: lightgoldenrodyellow;
    border: 1px dashed orange;
}

.debug main section:first-of-type .col{
    background-color: lightgreen;
    border: 1px dashed orange;
}

.debug main section:nth-of-type(2) .col-12{
    background-color: violet;
    border: 1px dashed orange;
}

.debug main section:nth-of-type(2) .col{
    background-color: lightcyan;
    border: 1px dashed orange;
}

.debug main section:nth-of-type(3) .col-12{
    background-color: violet;
    border: 1px dashed orange;
}

.debug main section:nth-of-type(3) .col{
    background-color: rosybrown;
    border: 1px dashed orange;
}

.debug main section:nth-of-type(3){
    background-color: red;
}

.debug main section:nth-of-type(4) .col{
    background-color: coral;
    border: 1px dashed black;
}

.debug main section:nth-of-type(4){
    background-color : blue;
}



